src/main/mule/bulk-insert-database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="03aeb6c1-344c-420a-afb9-afb62a13cf30" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="7dcaed64-ef41-4be5-8ae7-e2cf4a020534" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4217536e-7151-45f4-a6a7-914acc2afcfd" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Manu@2000" database="kiran" />
	</db:config>
	<flow name="bulk-insert-databaseFlow" doc:id="7c63d66c-5af9-4bd4-9b88-df95275624ef" >
		<http:listener doc:name="Listener" doc:id="149596ea-da86-41e1-b0aa-499ee94e22a4" config-ref="HTTP_Listener_config" path="bulkInsert"/>
		<file:read doc:name="Read" doc:id="984c13a4-42b2-46f1-99d7-d04871e69dff" config-ref="File_Config" path="C:\Users\saiki\Downloads\Dummy_XL_Data.xls"/>
		<ee:transform doc:name="Read binary data" doc:id="4ed160f2-ca70-43b4-bd74-3b6c7ccb43e1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
read(payload,"application/XLSX")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Mapping data" doc:id="b385085a-3432-4ec8-97b9-35f5a5d1dd2b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.Sheet1 map ( sheet1 , indexOfSheet1 ) -> {
	first_name: sheet1."First Name" default "",
	last_name: sheet1."Last Name" default "",
	full_name: sheet1."First Name" ++" "++ sheet1."Last Name",
	gender: sheet1.Gender default "",
	country: sheet1.Country default "",
	age: sheet1.Age as Number default 0,
	date: sheet1.Date default "",
	id: sheet1.Id default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="f3f127c0-ec50-40b4-a894-9bc1442e5da6" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into bulk_insert (first_name,last_name,full_name,gender,country,age,Date,id) values(:first_name,:last_name,:full_name,:gender,:country,:age,:date,:id);]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Convertin to Json" doc:id="28cae944-adfb-4d1c-a4f3-82f257c8190d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="59c52d0e-6470-412e-821c-5dff1a6f11d6" message="Data Insertd....."/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ed349a51-df86-4ce4-8823-ede97f39fb4c" />
	</flow>
</mule>
